<mat-nav-list>
    <app-weather-widget clas = "widget"></app-weather-widget>
    <div class = "profile-card">
        <div class = "header">
            
        
            <h2>Queen Astrid Park</h2>
        </div>
            <!-- <h4>Address Placeholder</h4> -->
        <!-- <img src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg" alt = "Queen Astrid Park"> -->
    </div>
    


<mat-divider></mat-divider>

<h2 mat-subheader>Pages</h2>

<a mat-list-item routerLinkActive="list-item-active" routerLink = "/">Electrical</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink = "/water">Water</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink = "/air">Air/Cooling</a>


<mat-divider></mat-divider>

<h2 mat-subheader>Tools</h2>
<a mat-list-item routerLinkActive="list-item-active" routerLink = "/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
</a>

<a mat-list-item routerLinkActive="list-item-active" routerLink = "/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
</a>

</mat-nav-list>